<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>WIPA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">WIPA</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/about">About</a>
						<a href="/network">Network</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About WIPA</h2>
						<p>Western University's Intellectual Property Association</p>
					</header>
					<p>The Western Intellectual Property Association is a student club that helps law students interested in intellectual property connect with lawyers who practice in this area of law. Events include career panel discussions, guest speaker events, and firm tours.</p>
					<p>The club helps get students interested in intellectual property early in their legal education so they can make an informed decision about whether they are well-suited to this unique and fascinating area of practice. WIPA holds numerous events throughout the school year including guest lecturers, resume clinics, and firm tours. We also offer insights on other ways to stay connected within the IP Community which inlude the Fox Moot and the IPIT Stream.</p>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="static/images/books.jpg" alt="IPIT" height="220"/>
							</div>
							<header>
								<h3>The IPIT Concentration</h3>
							</header>
							<p>Western Law offers a unique program concentration on Intellectual Property and Information Technology. This concentration can be taken by students in their 2nd and 3rd years of law school. Learn more by clicking the link below.</p>
							<footer>
								<a href="http://law.uwo.ca/future_students/curricular_streams/intellectual_property_information_and_technology.html" class="button special" target='_blank'>More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="static/images/code.jpg" alt="Dual Degree" height="220" />
							</div>
							<header>
								<h3>Dual Degree Oppurtunities</h3>
							</header>
							<p>Western Law lets students combine their undergraduate degrees in Computer Science or Software Engineering with their Juris Doctor of Law (JD). Learn more by clicking the link below.</p>
							<footer>
								<a href="http://law.uwo.ca/future_students/jd_academic_programs/combined_degree_programs.html" class="button special" target="_blank">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Western Intellectual Property Association
						</div>
						<ul class="icons">
						<li><a href="https://www.facebook.com/groups/wipagroup/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>