<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>WIPA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">WIPA</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/about">About</a>
						<a href="/network">Network</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Western Intellectual Property Association</h1>
				<p>A Western Law School Student Organization.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Learn more about WIPA</h3>
							</header>
							<p>WIPA is Western Law's Intellectual Property Association for students interested in practicing IP Law.</p>
							<footer>
								<a href="/about" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>View our most recent Newsletter</h3>
							</header>
							<p>Newsletter's contain information on upcoming events and current news within the world of Intellectual Property.</p>
							<footer>
								<a href="/newsletter" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Join us at WIPA events</h3>
							</header>
							<p>WIPA holds numerous events throughout the school year including guest speakers, resume workships, and firm tours.</p>
							<footer>
								<a href="https://www.facebook.com/groups/wipagroup/events/" class="button special" target="_blank">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>WIPA 2017/2018 Execuitive Team</h2>
						<p>Reach out to us if you have any questions using the 'contact us' option below!</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="/static/images/zain.jpg" alt="zhemani@uwo.ca" />
							</div>
							<h3>Zain Hemani</h3>
							<p>President</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="static/images/pic04.jpg" alt="Benji" />
							</div>
							<h3>Benji Stern</h3>
							<p>Vice President</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="static/images/pic05.jpg" alt="Gavin" />
							</div>
							<h3>Gavin Le Ber</h3>
							<p>VP Operations</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="static/images/pic06.jpg" alt="Michelle" />
							</div>
							<h3>Michelle Noonan</h3>
							<p>VP Records</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Staying Connected</h2>
						<p>Keep in touch with the IP Community</p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit" >
								<img src="static/images/team.jpg" alt="network" height="290" />
							</div>
							<header>
								<h3>IPIT Network</h3>
							</header>
							<p>There are numerous graduates from the IPIT Stream at Western Law and WIPA would like to create a network with all these individuals for students to stay connected and network.</p>
							<footer>
								<a href="/network" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="static/images/contact-us.jpg" alt="Contact Us" height="290" />
							</div>
							<header>
								<h3>Contact Us</h3>
							</header>
							<p>Contact us through our Facebook Page if you have any questions about Intellectual Property Law at Western or if you are prospective student interested in practicing IP.</p>
							<footer>
								<a href="https://www.facebook.com/groups/wipagroup/" class="button special" target="_blank">Contact</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy;  Western Intellectual Property Association
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/groups/wipagroup/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/jquery.min.js"></script>
			<script src="static/skel.min.js"></script>
			<script src="static/util.js"></script>
			<script src="static/main.js"></script>

	</body>
</html>